################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/Map-of-ecological-zones/.vs/Map-of-ecological-zones.slnx/FileContentIndex
